<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Test</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/ajax_setup_csrf.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/string_sort.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
  <h2>Test Sort Input String List</h2>
  <p>The Input field below takes string list in this format abc,bcd also called comma separated string </p>
  <form role="form">
    <div class="form-group">
      <label for="usr">StringList:</label>
      <input type="text" class="form-control" id="txt_str_lst">
    </div>
    <button type="button" class="btn-primary" id="btn_sort_list">Sort List</button>
  </form>

    <div id ="response_message" style="display: none;"></div>
</div>
</body>
</html>